@inherits RxBLServiceSubscriber<ToDoListService>

<MudCard Class="mt-16">
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudAvatar Color="Color.Primary">
                <MudIcon Icon="@Icons.Material.Filled.List" />
            </MudAvatar>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText Typo="Typo.h3" GutterBottom="true">ToDoList</MudText>
            @if (Service.Exceptions.Any())
            {
                <MudText Class="mt-4" Color="Color.Error">Error: @Service.Exceptions.First().Exception.Message</MudText>
            }
        </CardHeaderContent>
        <CardHeaderActions>
            @if (Service.IsDBOpen)
            {
                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                    <MudFabAsyncRx Class="mr-2" Color="Color.Success" StartIcon="@Icons.Material.Filled.Add" Size="Size.Small" StateCommand=@Service.CommandAsync ExecuteAsyncCallback=@AddOrUpdate(null) />
                    <MudFabAsyncRx Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever" Size="Size.Small" ConfirmExecutionAsync=@(() => ConfirmDelete(DeleteType.All))
                                   StateCommand=@Service.CommandAsync CanChangeCallback=@Service.CanClearItems ExecuteAsyncCallback=@Service.ClearItems />
                </MudHidden>
            }
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        @if (Service.IsDBOpen)
        {
            @if (Service.Invites.Any())
            {
                <InvitesForm />
            }

            <MudHidden Breakpoint="Breakpoint.MdAndUp">
                <MudContainer Class="ml-n3 mb-8">
                    <MudFabAsyncRx Class="mr-2" Color="Color.Success" StartIcon="@Icons.Material.Filled.Add" Size="Size.Small" StateCommand=@Service.CommandAsync ExecuteAsyncCallback=@AddOrUpdate(null) />
                    <MudFabAsyncRx Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever" Size="Size.Small" ConfirmExecutionAsync=@(() => ConfirmDelete(DeleteType.All))
                                   StateCommand=@Service.CommandAsync CanChangeCallback=@Service.CanClearItems ExecuteAsyncCallback=@Service.ClearItems />
                </MudContainer>
            </MudHidden>
            <MudTable T="ToDoDBList" Items=@(Service.ToDoLists)>
                <ColGroup>
                    <col style="width:50px;" />
                    <col />
                    <col style="width:50px;" />
                    <col style="width:50px;" />
                    <col style="width:50px;" />
                </ColGroup>
                <HeaderContent>
                    <MudTh Style="text-align:center">
                        <MudIcon Icon="@Icons.Material.Filled.KeyboardArrowRight" />
                    </MudTh>
                    <MudTh>ToDoList</MudTh>
                    <MudTh Style="text-align:center">
                        <MudIcon Icon="@Icons.Material.Filled.Share" />
                    </MudTh>
                    <MudTh Style="text-align:center">
                        <MudIcon Icon="@Icons.Material.Filled.Edit" />
                    </MudTh>
                    <MudTh Style="text-align:center">
                        <MudIcon Color="Color.Error" Icon="@Icons.Material.Filled.Delete" />
                    </MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="ToggleItemOpenClose" Style="text-align:center">
                        <MudIconButtonAsyncRx Color="Color.Info" Icon=@(Service.IsListItemsOpen(context) ? Icons.Material.Filled.KeyboardArrowDown : Icons.Material.Filled.KeyboardArrowRight)
                                              StateCommand=@Service.CommandAsync ExecuteAsyncCallback=@Service.ToggleListItemsOpenClose(context) />
                    </MudTd>
                    <MudTd DataLabel="ToDoList"><MudText>@context.Title</MudText></MudTd>
                    <MudTd DataLabel="Share" Style="text-align:center">
                        <MudIconButtonAsyncRx Color="Color.Info" Icon=@(Service.IsListShareOpen(context) ? Icons.Material.TwoTone.Share : Icons.Material.Filled.Share)
                                              StateCommand=@Service.CommandAsync CanChangeCallback=@Service.CanToggleListShareOpenClose(context) ExecuteAsyncCallback=@Service.ToggleListShareOpenClose(context) />
                    </MudTd>
                    <MudTd DataLabel="Edit" Style="text-align:center">
                        <MudIconButtonAsyncRx Color="Color.Info" Icon=@Icons.Material.Filled.Edit
                                              StateCommand=@Service.CommandAsync ExecuteAsyncCallback=@AddOrUpdate(context) />
                    </MudTd>
                    <MudTd DataLabel="DeleteItem" Style="text-align:center">
                        <MudIconButtonAsyncRx Color="Color.Error" Icon=@Icons.Material.Filled.Delete StateCommand=@Service.CommandAsync CanChangeCallback=@Service.CanDeleteItem(context)
                                              ConfirmExecutionAsync=@(() => ConfirmDelete(DeleteType.One)) ExecuteAsyncCallback=@Service.DeleteItem(context) />
                    </MudTd>
                </RowTemplate>
                <ChildRowContent>
                    @if (Service.IsListItemsOpen(context))
                    {
                        @if (Service.IsListShareOpen(context))
                        {
                            <MudTr>
                                <td colspan="4">
                                    <Share List=@context />
                                </td>
                            </MudTr>
                        }
                        <MudTr>
                            <td colspan="4">
                                <ToDoItem List=@context />
                            </td>
                        </MudTr>
                    }
                </ChildRowContent>
            </MudTable>
        }
        else// if (false)
        {
            <MudProgressLinear Indeterminate="true" Color="Color.Default" Rounded="true" Size="Size.Medium" Class="my-7" />
        }
    </MudCardContent>
</MudCard>